@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Bebas Neue", sans-serif;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
	body {
		background: linear-gradient(to top,#EFF0F2, white );
		position: relative;
		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// background-color: green;
			height: 5rem;
			padding: 2.188rem 6.25rem;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 55%;
				backdrop-filter: blur(10px);
				background: linear-gradient(#efeff1, #eff0f2);
			}
	
			.logo-Container {
				width: 6.25rem;
				position: relative;
				.logo {
					width: 100%;
					cursor: pointer;
				}
			}
	
			.header-actions {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				right: 3.125rem;
				gap: 0.938rem;
				ion-icon {
					display: inline-block;
					font-size: 1.5rem;
					background-color: #ff802c;
					padding: 0.625rem;
					border-radius: 50%;
					color: white;
					cursor: pointer;
				}
				.menutoggle {
					width: 3.125rem;
					height: 3.125rem;
					background-image: url("../img/menu.png");
					background-size: 2.5rem;
					background-repeat: no-repeat;
					background-position: center;
					cursor: pointer;
					filter: invert(1);
					z-index: 10000000000;
					&.active {
						width: 3.125rem;
						height: 3.125rem;
						background-size: 2.5rem;
						background-repeat: no-repeat;
						background-position: center;
						position: fixed;
						background-image: url("../img/close.png");
						filter: invert(1);
						position: relative;
						right: 1.25rem;
						top: 1.25rem;
						z-index: 10000000000;
					}
				}
			}
			.menuActions {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				&.active {
					position: fixed;
					width: 100%;
					height: 100%;
					opacity: 1;
					visibility: visible;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: white;
					z-index: 100000;
					ul {
						li {
							list-style: none;
							margin-top: 0.625rem;
							width: fit-content;
							height: fit-content;
							pad: 0.313rem;
							&:nth-child(1) {
								&:hover {
									a {
										color: #ff802c;
									}
								}
							}
							&:nth-child(2) {
								&:hover {
									a {
										background-image: linear-gradient(
											to right,
											#f8d057,
											#93d23b,
											#af820d,
											#267eac,
											#79aba2,
											#ddaa99,
											#d579aa,
											#b5120a
										);
										background-clip: text;
										color: transparent;
									}
								}
							}
	
							&:nth-child(3) {
								&:hover {
									a {
										color: gray;
									}
								}
							}
							&:nth-child(4) {
								&:hover {
									a {
										color: #AC1524;
									}
								}
							}
							a {
								color: black;
								letter-spacing: 0.094rem;
								font-size: 6rem;
								margin-top: 3.125rem;
								text-decoration: none;
								
							}
						}
					}
				}
			}
		}
	
		main {
			.Shoe-Presentation {
				height: 100vh;
				width: 100vw;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				&::after {
					content: "JUST DO IT";
					position: absolute;
					right: 0;
					top: 20rem;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					width: 45%;
					height: 50%;
					font-size: 20rem;
					z-index: -1;
					opacity: 0.1;
					background: transparent;
				}
				.logojordan {
					position: absolute;
					width: 25rem;
					top: -6.25rem;
					transform: translateX(24%);
					z-index: 1;
	
					img {
						width: 100%;
					}
				}
	
				.Presentation-content {
					z-index: -1;
					height: 100%;
					width: 55%;
					padding: 0.313rem 6.25rem;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background: linear-gradient(#efeff1, #eff0f2);
					h2 {
						position: relative;
						top: -3.75rem;
						font-size: 4rem;
						letter-spacing: 0.094rem;
						span {
							color: #ff802c;
						}
					}
					p {
						font-size: 1.3rem;
						line-height: 2rem;
						letter-spacing: 0.081rem;
						z-index: 2;
						span {
							color: #ff802c;
						}
					}
				}
	
				.Presentation-shoe-container {
					width: 45%;
					position: relative;
					height: 100%;
	
					z-index: 1;
	
					.Shoe-Presentation-img {
						width: 100%;
						position: relative;
						transform: rotate(-25deg);
						top: 11.25rem;
						left: -11.25rem;
						object-fit: cover;
					}
				}
				.ShoePresentation-Buy-Now {
					z-index: 100;
					position: absolute;
					bottom: 18.125rem;
					right: initial;
					font-size: 2rem;
					padding: 0.313rem 0.938rem;
					border-radius: 1.25rem;
					border: none;
					background: rgb(225, 225, 225, 1);
					box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.3), 0 0 1.563rem rgb(0, 0, 0, 0.1);
	
					a {
						&:hover {
							letter-spacing: 0.125rem;
							font-size: 2.5rem;
						}
	
						transition: 0.5s ease;
						text-decoration: none;
						color: #f05423;
					}
				}
			}
	
			.Kyrie-Presentation {
				width: 100vw;
				height: 100vh;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				// &::before{
				// 	position: absolute;
				// 	content: "";
				// 	top: 0;
				// 	right: 0;
				// 	height: 15%;
				// 	width: 100%;
				// 	z-index: 0;
				// 	background: linear-gradient(to bottom, gray, transparent);
				// }
				&::after{
					position: absolute;
					content: "";
					bottom: 0;
					right: 0;
					height: 15%;
					width: 100%;
					z-index: 0;
					background: linear-gradient(to top, gray, transparent);
				}
				.Kyrie-ballingImgContainer {
					// position: absolute;
					// top: 1.25rem;
					// left: calc(50% + 20.75rem);
					width: 23.125rem;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						width: 70%;
					}
				}
				.Kyrie-imgContainer {
					width: 55%;
					height: 100%;
					position: relative;
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.Kyrie-content {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					flex-direction: column;
					width: 45%;
					height: 100%;
					background:#FAFBFB;
					.Kyrie-ballingImgContainer {
						// position: absolute;
						// top: 1.25rem;
						// left: calc(50% + 20.75rem);
						width: 23.125rem;
						display: flex;
						align-items: center;
						justify-content: center;
						img {
							width: 70%;
						}
					}
					.Kyrie-tittle {
						font-size: 5rem;
						position: relative;
						top: 0.938rem;
						background-image: linear-gradient(to right, gray, black);
						background-clip: text;
						color: transparent;
					}
					.Kyrie-cities {
						z-index: 100000;
						h3 {
							font-size: 6rem;
							background-image: linear-gradient(
								to right,
								#f8d057,
								#93d23b,
								#af820d,
								#267eac,
								#79aba2,
								#ddaa99,
								#d579aa,
								#b5120a
							);
							background-clip: text;
							color: transparent;
							text-shadow: 0 0 4.688rem rgba(0, 0, 0, 0.4) 0 0 6.25rem white;
							letter-spacing: 0.094rem;
							position: relative;
							top: 2.813rem;
						}
						.Kyrie-city-list {
							display: flex;
							align-items: center;
							justify-content: space-around;
							position: relative;
							top: 3.75rem;
							ul {
								#Beijin {
									background-image: linear-gradient(to right, #df9d08, #f2550c);
									background-clip: text;
									color: transparent;
								}
	
								#Berlin {
									background-image: linear-gradient(to right, #d780b3, #f43834);
									background-clip: text;
									color: transparent;
								}
	
								#Houston {
									background-image: linear-gradient(to right, #ba1728, #53296f);
									background-clip: text;
									color: transparent;
								}
								#Guangzhou {
									background-image: linear-gradient(
										to right,
										#d8b732,
										#ec2517,
										#2b9ad3
									);
									background-clip: text;
									color: transparent;
								}
								#Los-Angeles {
									background-image: linear-gradient(to right, #dbab9d, #37618b);
									background-clip: text;
									color: transparent;
								}
								#Manila {
									background-image: linear-gradient(to right, #8cbcb8, #f93f12);
									background-clip: text;
									color: transparent;
								}
								#Miami {
									background-image: linear-gradient(
										to right,
										#f5ec5f,
										#6badc3,
										#a74178,
										#a74178
									);
									background-clip: text;
									color: transparent;
								}
								#New-York {
									background-image: linear-gradient(
										to right,
										#2b81ad,
										#850b11,
										#76d733
									);
									background-clip: text;
									color: transparent;
								}
								#Taipei {
									background-image: linear-gradient(
										to right,
										#c19415,
										#1d2748,
										#c8bd00
									);
									background-clip: text;
									color: transparent;
								}
								#Tokyo {
									background-image: linear-gradient(
										to right,
										#9fd947,
										#e396b8,
										#095382
									);
									background-clip: text;
									color: transparent;
								}
	
								li {
									list-style: none;
									font-size: 3rem;
									letter-spacing: 0.094rem;
									cursor: pointer;
									transition: 0.5s;
									&:hover {
										letter-spacing: 0.938rem;
									}
								}
							}
						}
					}
				}
				.Kyrie-BallingFans-container {
					z-index: 10000;
					position: absolute;
					bottom: 1.25rem;
					height: fit-content;
					width: fit-content;
					padding: 0.313rem 1.563rem;
					left: 2.188rem;
					border-radius: 1.25rem;
					background: linear-gradient(#efeff1, #eff0f2);
					display: flex;
					align-items: center;
					justify-content: center;
					box-shadow: 0 0 1.25rem rgb(0, 0, 0, 0.3);
					a {
						font-size: 3rem;
						text-decoration: none;
						color: #a09d98;
						letter-spacing: 0.125rem;
						background-image: linear-gradient(
							to right,
							#f8d057,
							#93d23b,
							#af820d,
							#267eac,
							#79aba2,
							#ddaa99,
							#d579aa,
							#b5120a
						);
						background-clip: text;
						color: transparent;
						&:hover {
							letter-spacing: 0.156rem;
							font-size: 3.5rem;
						}
	
						transition: 0.5s ease;
					}
				}
			}
		}
	
		footer {
			li {
				cursor: pointer;
			}
			height: auto;
			max-width: 100vw;
			background-color: #111;
			.footer-text-container {
				display: flex;
				justify-content: space-evenly;
				.footer-text-div {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					padding: 2.5rem;
					gap: 3.125rem;
	
					span {
						color: white;
					}
					.Acciones-footer {
						li {
							list-style: none;
							text-transform: uppercase;
							color: white;
							margin-top: 0.938rem;
						}
					}
					.Help-footer {
						li {
							list-style: none;
							margin-top: 0.938rem;
							color: gray;
	
							&:hover {
								color: #fff;
							}
						}
					}
					.about-footer {
						li {
							list-style: none;
							margin-top: 0.938rem;
							color: gray;
	
							&:hover {
								color: #fff;
							}
						}
					}
				}
				.sci-footer {
					ul {
						display: flex;
	
						justify-content: center;
						height: fit-content;
						position: relative;
						top: 2.5rem;
						right: 0.938rem;
	
						li {
							color: gray;
							list-style: none;
							font-size: 2.3rem;
							margin-right: 1.25rem;
	
							height: fit-content;
							&:hover {
								color: white;
							}
						}
					}
				}
			}
			.footer-end {
				padding-bottom: 0.625rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 0.8rem;
				letter-spacing: 0.075rem;
				.footer-end-locationYcopyright {
					display: flex;
					align-items: center;
					gap: 1.875rem;
					color: gray;
					padding-left: 1.875rem;
					.location {
						color: white;
						display: flex;
	
						gap: 0.625rem;
					}
				}
				.footer-coockies {
					padding-right: 1.25rem;
					ul {
						display: flex;
						gap: 1.563rem;
						li {
							list-style: none;
							color: gray;
	
							&:hover {
								color: white;
							}
						}
					}
				}
			}
		}
	}
	
	//JordanAirBuy.html
	.Shoe-Buy-Container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
	
		.Shoe-Buy {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			padding: 5rem 0px;
			background-image: url("../img/logodriping.png");
	
			background-repeat: no-repeat;
			background-position: center;
			background-size: 37.5rem;
			gap: 1.25rem;
	
			.Shoe-Buy-Tittle {
				font-size: 4rem;
				color: #ff802c;
			}
			.Shoe-Buy-card {
				width: 43.75rem;
				height: 46.875rem;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background: rgb(225, 225, 225, 0.5);
				box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.3), 0 0 1.563rem rgb(0, 0, 0, 0.1);
				border-radius: 1.875rem;
				.EspecialOffer {
					position: absolute;
					width: 9.375rem;
					height: auto;
					top: 0;
					right: 1.25rem;
					img {
						width: 100%;
					}
				}
				.Shoe-Buy-initial {
					width: 100%;
					img {
						&:hover {
							transform: rotate(-25deg);
						}
						transition: 0.5s;
						position: relative;
						left: 1.25rem;
	
						width: 100%;
					}
				}
				.Shoe-Buy-Options {
					width: 60%;
					height: 100%;
					position: absolute;
					top: -1.563rem;
					left: calc(-50% + 9.375rem);
					ul {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						gap: 0.313rem;
						li {
							list-style: none;
	
							img {
								&:hover {
									transform: scale(1.1);
								}
								transition: 0.5s;
								background: rgb(225, 225, 225, 0.2);
								border-radius: 15%;
								width: 70%;
								box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.2);
							}
						}
					}
				}
				.Shoe-Buy-size {
					ul {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 1.563rem;
						font-size: 2rem;
						span {
							color: #f05423;
						}
						li {
							cursor: pointer;
							transition: 0.5s;
							position: relative;
							background: #fefdfd;
							color: #f05423;
							padding: 0.188rem 0.313rem;
							border-radius: 0.313rem;
							list-style: none;
							box-shadow: 0 0 1.563rem rgb(0, 0, 0, 0.1);
							&:hover {
								transform: translateY(-0.938rem);
							}
						}
					}
				}
				.Shoe-Buy-Now {
					position: absolute;
					bottom: -1.563rem;
					font-size: 2rem;
					padding: 0.313rem 0.938rem;
					border-radius: 1.25rem;
	
					border: none;
					background: rgb(225, 225, 225, 1);
					box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.3), 0 0 1.563rem rgb(0, 0, 0, 0.1);
	
					a {
						&:hover {
							letter-spacing: 0.125rem;
							font-size: 2.5rem;
						}
	
						transition: 0.5s ease;
						text-decoration: none;
						color: #f05423;
					}
				}
			}
		}
	}
  
	
	
  }



  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
	
	body {
		background: linear-gradient(to top,#EFF0F2, white );
		position: relative;
		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// background-color: green;
			height: 5rem;
			padding: 2.188rem 6.25rem;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 55%;
				backdrop-filter: blur(10px);
				background: linear-gradient(#efeff1, #eff0f2);
			}
	
			.logo-Container {
				width: 6.25rem;
				position: relative;
				.logo {
					width: 100%;
					cursor: pointer;
				}
			}
	
			.header-actions {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				right: 3.125rem;
				gap: 0.938rem;
				ion-icon {
					display: inline-block;
					font-size: 1.5rem;
					background-color: #ff802c;
					padding: 0.625rem;
					border-radius: 50%;
					color: white;
					cursor: pointer;
				}
				.menutoggle {
					width: 3.125rem;
					height: 3.125rem;
					background-image: url("../img/menu.png");
					background-size: 2.5rem;
					background-repeat: no-repeat;
					background-position: center;
					cursor: pointer;
					filter: invert(1);
					z-index: 10000000000;
					&.active {
						width: 3.125rem;
						height: 3.125rem;
						background-size: 2.5rem;
						background-repeat: no-repeat;
						background-position: center;
						position: fixed;
						background-image: url("../img/close.png");
						filter: invert(1);
						position: relative;
						right: 1.25rem;
						top: 1.25rem;
						z-index: 10000000000;
					}
				}
			}
			.menuActions {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				&.active {
					position: fixed;
					width: 100%;
					height: 100%;
					opacity: 1;
					visibility: visible;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: white;
					z-index: 100000;
					ul {
						li {
							list-style: none;
							margin-top: 0.625rem;
							width: fit-content;
							height: fit-content;
							pad: 0.313rem;
							&:nth-child(1) {
								&:hover {
									a {
										color: #ff802c;
									}
								}
							}
							&:nth-child(2) {
								&:hover {
									a {
										background-image: linear-gradient(
											to right,
											#f8d057,
											#93d23b,
											#af820d,
											#267eac,
											#79aba2,
											#ddaa99,
											#d579aa,
											#b5120a
										);
										background-clip: text;
										color: transparent;
									}
								}
							}
	
							&:nth-child(3) {
								&:hover {
									a {
										color: gray;
									}
								}
							}
							&:nth-child(4) {
								&:hover {
									a {
										color: #AC1524;
									}
								}
							}
							a {
								color: black;
								letter-spacing: 0.094rem;
								font-size: 6rem;
								margin-top: 3.125rem;
								text-decoration: none;
								
							}
						}
					}
				}
			}
		}
	
		main {
			.Shoe-Presentation {
				height: 100vh;
				width: 100vw;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				&::after {
					content: "JUST DO IT";
					position: absolute;
					right: 0;
					top: 9rem;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					width: 45%;
					height: 50%;
					font-size: 20rem;
					z-index: -1;
					opacity: 0.1;
					background: transparent;
				}
				.logojordan {
					position: absolute;
					width: 20rem;
					top: -6.25rem;
					transform: translateX(20%);
					z-index: 1;
	
					img {
						width: 100%;
					}
				}
	
				.Presentation-content {
					z-index: -1;
					height: 100%;
					width: 55%;
					padding: 0.313rem 6.25rem;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					background: linear-gradient(#efeff1, #eff0f2);
					h2 {
						position: relative;
						top: -3.75rem;
						font-size: 4rem;
						letter-spacing: 0.094rem;
						span {
							color: #ff802c;
						}
					}
					p {
						font-size: 1.3rem;
						line-height: 2rem;
						letter-spacing: 0.081rem;
						z-index: 2;
						span {
							color: #ff802c;
						}
					}
				}
	
				.Presentation-shoe-container {
					width: 45%;
					position: relative;
					height: 100%;
	
					z-index: 1;
	
					.Shoe-Presentation-img {
						width: 120%;
						position: relative;
						transform: rotate(-25deg);
						top: 9.25rem;
						left: -9.25rem;
						object-fit: cover;
					}
				}
				.ShoePresentation-Buy-Now {
					z-index: 100;
					position: absolute;
					bottom: 18.125rem;
					right: initial;
					font-size: 2rem;
					padding: 0.313rem 0.938rem;
					border-radius: 1.25rem;
					border: none;
					background: rgb(225, 225, 225, 1);
					box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.3), 0 0 1.563rem rgb(0, 0, 0, 0.1);
	
					a {
						&:hover {
							letter-spacing: 0.125rem;
							font-size: 2.5rem;
						}
	
						transition: 0.5s ease;
						text-decoration: none;
						color: #f05423;
					}
				}
			}
	
			.Kyrie-Presentation {
				width: 100vw;
				height: 100vh;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: flex-start;
		
				&::after{
					position: absolute;
					content: "";
					bottom: 0;
					right: 0;
					height: 15%;
					width: 100%;
					z-index: 0;
					background: linear-gradient(to top, gray, transparent);
				}
				.Kyrie-ballingImgContainer {
					// position: absolute;
					// top: 1.25rem;
					// left: calc(50% + 20.75rem);
					width: 23.125rem;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						width: 70%;
					}
				}
				.Kyrie-imgContainer {
					width: 55%;
					height: 100%;
					position: relative;
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.Kyrie-content {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					flex-direction: column;
					width: 45%;
					height: 100%;
					background:#FAFBFB;
					.Kyrie-ballingImgContainer {
				
						width: 23.125rem;
						display: flex;
						align-items: center;
						justify-content: center;
						img {
							width: 70%;
						}
					}
					.Kyrie-tittle {
						font-size: 5rem;
						position: relative;
						top: 0.938rem;
						background-image: linear-gradient(to right, gray, black);
						background-clip: text;
						color: transparent;
					}
					.Kyrie-cities {
						z-index: 100000;
						h3 {
							font-size: 4rem;
							background-image: linear-gradient(
								to right,
								#f8d057,
								#93d23b,
								#af820d,
								#267eac,
								#79aba2,
								#ddaa99,
								#d579aa,
								#b5120a
							);
							background-clip: text;
							color: transparent;
							text-shadow: 0 0 4.688rem rgba(0, 0, 0, 0.4) 0 0 6.25rem white;
							letter-spacing: 0.094rem;
							position: relative;
							top: 2.813rem;
						}
						.Kyrie-city-list {
							display: flex;
							align-items: center;
							justify-content: space-around;
							position: relative;
							top: 3.75rem;
							ul {
								#Beijin {
									background-image: linear-gradient(to right, #df9d08, #f2550c);
									background-clip: text;
									color: transparent;
								}
	
								#Berlin {
									background-image: linear-gradient(to right, #d780b3, #f43834);
									background-clip: text;
									color: transparent;
								}
	
								#Houston {
									background-image: linear-gradient(to right, #ba1728, #53296f);
									background-clip: text;
									color: transparent;
								}
								#Guangzhou {
									background-image: linear-gradient(
										to right,
										#d8b732,
										#ec2517,
										#2b9ad3
									);
									background-clip: text;
									color: transparent;
								}
								#Los-Angeles {
									background-image: linear-gradient(to right, #dbab9d, #37618b);
									background-clip: text;
									color: transparent;
								}
								#Manila {
									background-image: linear-gradient(to right, #8cbcb8, #f93f12);
									background-clip: text;
									color: transparent;
								}
								#Miami {
									background-image: linear-gradient(
										to right,
										#f5ec5f,
										#6badc3,
										#a74178,
										#a74178
									);
									background-clip: text;
									color: transparent;
								}
								#New-York {
									background-image: linear-gradient(
										to right,
										#2b81ad,
										#850b11,
										#76d733
									);
									background-clip: text;
									color: transparent;
								}
								#Taipei {
									background-image: linear-gradient(
										to right,
										#c19415,
										#1d2748,
										#c8bd00
									);
									background-clip: text;
									color: transparent;
								}
								#Tokyo {
									background-image: linear-gradient(
										to right,
										#9fd947,
										#e396b8,
										#095382
									);
									background-clip: text;
									color: transparent;
								}
	
								li {
									list-style: none;
									font-size: 2rem;
									letter-spacing: 0.094rem;
									cursor: pointer;
									transition: 0.5s;
									&:hover {
										letter-spacing: 0.938rem;
									}
								}
							}
						}
					}
				}
				.Kyrie-BallingFans-container {
					z-index: 10000;
					position: absolute;
					bottom: 1.25rem;
					height: fit-content;
					width: fit-content;
					padding: 0.313rem 1.563rem;
					left: 2.188rem;
					border-radius: 1.25rem;
					background: linear-gradient(#efeff1, #eff0f2);
					display: flex;
					align-items: center;
					justify-content: center;
					box-shadow: 0 0 1.25rem rgb(0, 0, 0, 0.3);
					a {
						font-size: 3rem;
						text-decoration: none;
						color: #a09d98;
						letter-spacing: 0.125rem;
						background-image: linear-gradient(
							to right,
							#f8d057,
							#93d23b,
							#af820d,
							#267eac,
							#79aba2,
							#ddaa99,
							#d579aa,
							#b5120a
						);
						background-clip: text;
						color: transparent;
						&:hover {
							letter-spacing: 0.156rem;
							font-size: 3.5rem;
						}
	
						transition: 0.5s ease;
					}
				}
			}
		}
	
		footer {
			li {
				cursor: pointer;
			}
			height: auto;
			max-width: 100vw;
			background-color: #111;
			.footer-text-container {
				display: flex;
				justify-content: space-evenly;
				.footer-text-div {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					padding: 2.5rem;
					gap: 3.125rem;
	
					span {
						color: white;
					}
					.Acciones-footer {
						li {
							list-style: none;
							text-transform: uppercase;
							color: white;
							margin-top: 0.938rem;
						}
					}
					.Help-footer {
						li {
							list-style: none;
							margin-top: 0.938rem;
							color: gray;
	
							&:hover {
								color: #fff;
							}
						}
					}
					.about-footer {
						li {
							list-style: none;
							margin-top: 0.938rem;
							color: gray;
	
							&:hover {
								color: #fff;
							}
						}
					}
				}
				.sci-footer {
					ul {
						display: flex;
	
						justify-content: center;
						height: fit-content;
						position: relative;
						top: 2.5rem;
						right: 0.938rem;
	
						li {
							color: gray;
							list-style: none;
							font-size: 2.3rem;
							margin-right: 1.25rem;
	
							height: fit-content;
							&:hover {
								color: white;
							}
						}
					}
				}
			}
			.footer-end {
				padding-bottom: 0.625rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 0.8rem;
				letter-spacing: 0.075rem;
				.footer-end-locationYcopyright {
					display: flex;
					align-items: center;
					gap: 1.875rem;
					color: gray;
					padding-left: 1.875rem;
					.location {
						color: white;
						display: flex;
	
						gap: 0.625rem;
					}
				}
				.footer-coockies {
					padding-right: 1.25rem;
					ul {
						display: flex;
						gap: 1.563rem;
						li {
							list-style: none;
							color: gray;
	
							&:hover {
								color: white;
							}
						}
					}
				}
			}
		}
	}
	
	//JordanAirBuy.html
	.Shoe-Buy-Container {
		min-height: 100vh;
		min-width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(225, 225, 225, 0.5);
		
	
		.Shoe-Buy {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 6rem;
			background-image: url("../img/logodriping.png");
	
			background-repeat: no-repeat;
			background-position: center;
			background-size: 37.5rem;
			gap: 1.25rem;
	
			.Shoe-Buy-Tittle {
				font-size: 4rem;
				color: #ff802c;
			}
			.Shoe-Buy-card {
				width: 43.75rem;
				height: 46.875rem;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background: rgb(225, 225, 225, 0.5);
				box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.3), 0 0 1.563rem rgb(0, 0, 0, 0.1);
				border-radius: 1.875rem;
				.EspecialOffer {
					position: absolute;
					width: 9.375rem;
					height: auto;
					top: 0;
					right: 1.25rem;
					img {
						width: 100%;
					}
				}
				.Shoe-Buy-initial {
					width: 100%;
					img {
						&:hover {
							transform: rotate(-25deg);
						}
						transition: 0.5s;
						position: relative;
						left: 1.25rem;
	
						width: 100%;
					}
				}
				.Shoe-Buy-Options {
					width: 60%;
					height: 100%;
					position: absolute;
					top: -1.563rem;
					left: calc(-50% + 9.375rem);
					ul {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						gap: 0.313rem;
						li {
							list-style: none;
	
							img {
								&:hover {
									transform: scale(1.1);
								}
								transition: 0.5s;
								// background: rgb(225, 225, 225, 0.2);
								border-radius: 15%;
								width: 70%;
								box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.2);
							}
						}
					}
				}
				.Shoe-Buy-size {
					ul {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 1.563rem;
						font-size: 2rem;
						span {
							color: #f05423;
						}
						li {
							cursor: pointer;
							transition: 0.5s;
							position: relative;
							background: #fefdfd;
							color: #f05423;
							padding: 0.188rem 0.313rem;
							border-radius: 0.313rem;
							list-style: none;
							box-shadow: 0 0 1.563rem rgb(0, 0, 0, 0.1);
							&:hover {
								transform: translateY(-0.938rem);
							}
						}
					}
				}
				.Shoe-Buy-Now {
					position: absolute;
					bottom: -1.563rem;
					font-size: 2rem;
					padding: 0.313rem 0.938rem;
					border-radius: 1.25rem;
	
					border: none;
					background: rgb(225, 225, 225, 1);
					box-shadow: 0 0 0.938rem rgb(0, 0, 0, 0.3), 0 0 1.563rem rgb(0, 0, 0, 0.1);
	
					a {
						&:hover {
							letter-spacing: 0.125rem;
							font-size: 2.5rem;
						}
	
						transition: 0.5s ease;
						text-decoration: none;
						color: #f05423;
					}
				}
			}
		}
	}
	
  }
  







 
	

