@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

body {
  background: #fefdfd;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 35px 100px;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(#efeff1, #eff0f2);
}
header .logo-Container {
  width: 100px;
  position: relative;
}
header .logo-Container .logo {
  width: 100%;
}
header .header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 50px;
  gap: 15px;
}
header .header-actions ion-icon {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #ff802c;
  padding: 10px;
  border-radius: 50%;
  color: white;
}
header .header-actions .menutoggle {
  width: 50px;
  height: 50px;
  background-image: url("../img/menu.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
}

main .Shoe-Presentation {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px 100px;
}
main .Shoe-Presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(#efeff1, #eff0f2);
}
main .Shoe-Presentation::after {
  content: "JUST DO IT";
  position: absolute;
  right: 0;
  top: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45%;
  height: 50%;
  font-size: 20rem;
  z-index: -1;
  opacity: 0.1;
}
main .Shoe-Presentation .logojordan {
  position: absolute;
  width: 30%;
  top: -100px;
  transform: translateX(16.6%);
}
main .Shoe-Presentation .logojordan img {
  width: 100%;
}
main .Shoe-Presentation .Presentation-content {
  z-index: 2;
  width: 50%;
}
main .Shoe-Presentation .Presentation-content h2 {
  position: relative;
  top: -60px;
  font-size: 4rem;
  letter-spacing: 1.5px;
}
main .Shoe-Presentation .Presentation-content h2 span {
  color: #ff802c;
}
main .Shoe-Presentation .Presentation-content p {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 1.3px;
  z-index: 2;
}
main .Shoe-Presentation .Presentation-content p span {
  color: #ff802c;
}
main .Shoe-Presentation .Presentation-shoe-container {
  width: 50%;
  position: relative;
  height: 100%;
  z-index: 1;
}
main .Shoe-Presentation .Presentation-shoe-container .Shoe-Presentation-img {
  width: 120%;
  position: absolute;
  transform: rotate(-25deg);
  top: 120px;
  left: -180px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .Kyrie-Presentation {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .Kyrie-Presentation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
  background: linear-gradient(#efeff1, #eff0f2);
}
main .Kyrie-Presentation::after {
  content: "JUST DO IT";
  position: absolute;
  left: 0;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45%;
  height: 50%;
  font-size: 20rem;
  z-index: -1;
  opacity: 0.1;
}
main .Kyrie-Presentation .Kyrie-content {
  padding: 20px;
  position: absolute;
  right: 200px;
  top: 300px;
}
main .Kyrie-Presentation .Kyrie-content .Kyrie-tittle {
  font-size: 6rem;
  background-image: linear-gradient(to left, black, #E92F3F);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
main .Kyrie-Presentation .Kyrie-imgContainer {
  top: 0;
  position: relative;
}
main .Kyrie-Presentation .Kyrie-imgContainer img {
  transform: scale(1.1) translateX(50px);
}
main .Kyrie-Presentation .Kyrie-ballingImgContainer {
  width: 300px;
  position: absolute;
  right: 250px;
  top: 80px;
}
main .Kyrie-Presentation .Kyrie-ballingImgContainer img {
  width: 100%;
}
main .Shoe-Buy {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 80px 0px;
  background-image: url("../img/logodriping.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  gap: 20px;
}
main .Shoe-Buy .Shoe-Buy-Tittle {
  font-size: 4rem;
  color: #ff802c;
}
main .Shoe-Buy .Shoe-Buy-card {
  width: 700px;
  height: 750px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(225, 225, 225, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
main .Shoe-Buy .Shoe-Buy-card .EspecialOffer {
  position: absolute;
  width: 150px;
  height: auto;
  top: 0;
  right: 20px;
}
main .Shoe-Buy .Shoe-Buy-card .EspecialOffer img {
  width: 100%;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-initial {
  width: 100%;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-initial img {
  transition: 0.5s;
  position: relative;
  left: 20px;
  width: 100%;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-initial img:hover {
  transform: rotate(-25deg);
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options {
  width: 60%;
  height: 100%;
  position: absolute;
  top: -25px;
  left: calc(-50% + 150px);
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul li {
  list-style: none;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul li img {
  transition: 0.5s;
  background: rgba(225, 225, 225, 0.2);
  border-radius: 15%;
  width: 70%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul li img:hover {
  transform: scale(1.1);
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 2rem;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul span {
  color: #f05423;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul li {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  background: #fefdfd;
  color: #f05423;
  padding: 3px 5px;
  border-radius: 5px;
  list-style: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul li:hover {
  transform: translateY(-15px);
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Now {
  position: absolute;
  bottom: -25px;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  background: rgb(225, 225, 225);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Now a {
  transition: 0.5s ease;
  text-decoration: none;
  color: #f05423;
}
main .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Now a:hover {
  letter-spacing: 2px;
  font-size: 2.5rem;
}/*# sourceMappingURL=style.css.map */