@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

body {
  background: #fefdfd;
  position: relative;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 35px 100px;
  position: relative;
}
body header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(#efeff1, #eff0f2);
}
body header .logo-Container {
  width: 100px;
  position: relative;
}
body header .logo-Container .logo {
  width: 100%;
}
body header .header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 50px;
  gap: 15px;
}
body header .header-actions ion-icon {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #ff802c;
  padding: 10px;
  border-radius: 50%;
  color: white;
}
body header .header-actions .menutoggle {
  width: 50px;
  height: 50px;
  background-image: url("../img/menu.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
}
body main .Shoe-Presentation {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px 100px;
}
body main .Shoe-Presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 55%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(#efeff1, #eff0f2);
}
body main .Shoe-Presentation::after {
  content: "JUST DO IT";
  position: absolute;
  right: 0;
  top: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45%;
  height: 50%;
  font-size: 20rem;
  z-index: -1;
  opacity: 0.1;
}
body main .Shoe-Presentation .logojordan {
  position: absolute;
  width: 30%;
  top: -100px;
  transform: translateX(16.6%);
}
body main .Shoe-Presentation .logojordan img {
  width: 100%;
}
body main .Shoe-Presentation .Presentation-content {
  z-index: 2;
  width: 50%;
}
body main .Shoe-Presentation .Presentation-content h2 {
  position: relative;
  top: -60px;
  font-size: 4rem;
  letter-spacing: 1.5px;
}
body main .Shoe-Presentation .Presentation-content h2 span {
  color: #ff802c;
}
body main .Shoe-Presentation .Presentation-content p {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 1.3px;
  z-index: 2;
}
body main .Shoe-Presentation .Presentation-content p span {
  color: #ff802c;
}
body main .Shoe-Presentation .Presentation-shoe-container {
  width: 50%;
  position: relative;
  height: 100%;
  z-index: 1;
}
body main .Shoe-Presentation .Presentation-shoe-container .Shoe-Presentation-img {
  width: 120%;
  position: absolute;
  transform: rotate(-25deg);
  top: 120px;
  left: -180px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .Shoe-Presentation .ShoePresentation-Buy-Now {
  z-index: 100;
  position: absolute;
  bottom: 250px;
  right: initial;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  background: rgb(225, 225, 225);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
}
body main .Shoe-Presentation .ShoePresentation-Buy-Now a {
  transition: 0.5s ease;
  text-decoration: none;
  color: #f05423;
}
body main .Shoe-Presentation .ShoePresentation-Buy-Now a:hover {
  letter-spacing: 2px;
  font-size: 2.5rem;
}
body main .Kyrie-Presentation {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body main .Kyrie-Presentation .Kyrie-ballingImgContainer {
  position: absolute;
  top: 20px;
  right: 300px;
  width: 250px;
}
body main .Kyrie-Presentation .Kyrie-ballingImgContainer img {
  width: 100%;
}
body main .Kyrie-Presentation .Kyrie-imgContainer {
  width: 55%;
  height: 100%;
  position: relative;
}
body main .Kyrie-Presentation .Kyrie-imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .Kyrie-Presentation .Kyrie-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  height: 100%;
  background: linear-gradient(#efeff1, #eff0f2);
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-tittle {
  font-size: 5rem;
  position: relative;
  top: 15px;
  background-image: linear-gradient(to right, gray, black);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities h3 {
  font-size: 6rem;
  background-image: linear-gradient(to right, #f8d057, #93d23b, #af820d, #267eac, #79aba2, #ddaa99, #d579aa, #b5120a);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-shadow: 0 0 75px rgba(0, 0, 0, 0.4) 0 0 100px white;
  letter-spacing: 1.5px;
  position: relative;
  top: 45px;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 60px;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Beijin {
  background-image: linear-gradient(to right, #df9d08, #f2550c);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Berlin {
  background-image: linear-gradient(to right, #d780b3, #f43834);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Houston {
  background-image: linear-gradient(to right, #ba1728, #53296f);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Guangzhou {
  background-image: linear-gradient(to right, #d8b732, #ec2517, #2b9ad3);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Los-Angeles {
  background-image: linear-gradient(to right, #dbab9d, #37618b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Manila {
  background-image: linear-gradient(to right, #8cbcb8, #f93f12);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Miami {
  background-image: linear-gradient(to right, #f5ec5f, #6badc3, #a74178, #a74178);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #New-York {
  background-image: linear-gradient(to right, #2b81ad, #850b11, #76d733);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Taipei {
  background-image: linear-gradient(to right, #c19415, #1d2748, #c8bd00);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul #Tokyo {
  background-image: linear-gradient(to right, #9fd947, #e396b8, #095382);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul li {
  list-style: none;
  font-size: 3rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.5s;
}
body main .Kyrie-Presentation .Kyrie-content .Kyrie-cities .Kyrie-city-list ul li:hover {
  letter-spacing: 15px;
}
body main .Kyrie-Presentation .Kyrie-BallingFans-container {
  position: absolute;
  bottom: 20px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 25px;
  left: 35px;
  border-radius: 20px;
  background: linear-gradient(#efeff1, #eff0f2);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
body main .Kyrie-Presentation .Kyrie-BallingFans-container a {
  font-size: 3rem;
  text-decoration: none;
  color: #a09d98;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #f8d057, #93d23b, #af820d, #267eac, #79aba2, #ddaa99, #d579aa, #b5120a);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}
body main .Kyrie-Presentation .Kyrie-BallingFans-container a:hover {
  letter-spacing: 2.5px;
  font-size: 3.5rem;
}
body footer {
  height: auto;
  max-width: 100vw;
  background-color: #111;
}
body footer li {
  cursor: pointer;
}
body footer .footer-text-container {
  display: flex;
  justify-content: space-evenly;
}
body footer .footer-text-container .footer-text-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 50px;
}
body footer .footer-text-container .footer-text-div span {
  color: white;
}
body footer .footer-text-container .footer-text-div .Acciones-footer li {
  list-style: none;
  text-transform: uppercase;
  color: white;
  margin-top: 15px;
}
body footer .footer-text-container .footer-text-div .Help-footer li {
  list-style: none;
  margin-top: 15px;
  color: gray;
}
body footer .footer-text-container .footer-text-div .Help-footer li:hover {
  color: #fff;
}
body footer .footer-text-container .footer-text-div .about-footer li {
  list-style: none;
  margin-top: 15px;
  color: gray;
}
body footer .footer-text-container .footer-text-div .about-footer li:hover {
  color: #fff;
}
body footer .footer-text-container .sci-footer ul {
  display: flex;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 40px;
  right: 15px;
}
body footer .footer-text-container .sci-footer ul li {
  color: gray;
  list-style: none;
  font-size: 2.3rem;
  margin-right: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
body footer .footer-text-container .sci-footer ul li:hover {
  color: white;
}
body footer .footer-end {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  letter-spacing: 1.2px;
}
body footer .footer-end .footer-end-locationYcopyright {
  display: flex;
  align-items: center;
  gap: 30px;
  color: gray;
  padding-left: 30px;
}
body footer .footer-end .footer-end-locationYcopyright .location {
  color: white;
  display: flex;
  gap: 10px;
}
body footer .footer-end .footer-coockies {
  padding-right: 20px;
}
body footer .footer-end .footer-coockies ul {
  display: flex;
  gap: 25px;
}
body footer .footer-end .footer-coockies ul li {
  list-style: none;
  color: gray;
}
body footer .footer-end .footer-coockies ul li:hover {
  color: white;
}

.Shoe-Buy-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.Shoe-Buy-Container .Shoe-Buy {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 80px 0px;
  background-image: url("../img/logodriping.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  gap: 20px;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-Tittle {
  font-size: 4rem;
  color: #ff802c;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card {
  width: 700px;
  height: 750px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(225, 225, 225, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .EspecialOffer {
  position: absolute;
  width: 150px;
  height: auto;
  top: 0;
  right: 20px;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .EspecialOffer img {
  width: 100%;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-initial {
  width: 100%;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-initial img {
  transition: 0.5s;
  position: relative;
  left: 20px;
  width: 100%;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-initial img:hover {
  transform: rotate(-25deg);
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options {
  width: 60%;
  height: 100%;
  position: absolute;
  top: -25px;
  left: calc(-50% + 150px);
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul li {
  list-style: none;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul li img {
  transition: 0.5s;
  background: rgba(225, 225, 225, 0.2);
  border-radius: 15%;
  width: 70%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Options ul li img:hover {
  transform: scale(1.1);
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 2rem;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul span {
  color: #f05423;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul li {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  background: #fefdfd;
  color: #f05423;
  padding: 3px 5px;
  border-radius: 5px;
  list-style: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-size ul li:hover {
  transform: translateY(-15px);
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Now {
  position: absolute;
  bottom: -25px;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  background: rgb(225, 225, 225);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Now a {
  transition: 0.5s ease;
  text-decoration: none;
  color: #f05423;
}
.Shoe-Buy-Container .Shoe-Buy .Shoe-Buy-card .Shoe-Buy-Now a:hover {
  letter-spacing: 2px;
  font-size: 2.5rem;
}/*# sourceMappingURL=style.css.map */